{% extends 'seller/s_masterpage.html' %}
{% load static %}
{% block content %}

<style>
    .col-12{
        background-image: url('');
        height: 300px;
    }
    .row .col-12 h1{
        color: black;
        margin-right: 400px;
    
    }
    #img{
        /* margin-left: 10px; */
        float: left;
    }

</style>



<div class="row">
    <div class="col-6">
        <img src="https://img.freepik.com/free-vector/lovely-raksha-bandhan-sale-banner-with-rakhi_1017-20269.jpg?w=740&t=st=1708409319~exp=1708409919~hmac=996e543b666db6e1e30f9cc33b0ba615419c6e4f143760318cde816a4dc19648" alt="">
    </div>
    <div class="col-6">
        <img src="https://img.freepik.com/free-vector/lovely-raksha-bandhan-sale-banner-with-rakhi_1017-20269.jpg?w=740&t=st=1708409319~exp=1708409919~hmac=996e543b666db6e1e30f9cc33b0ba615419c6e4f143760318cde816a4dc19648" alt="">

    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>Become a Easyshope Seller <br> and sell to 45+Crore customers
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-6"><h1><b>Why do sellers love selling on Easyshope</b></h1>
        <h3>45 crore+ customers across India trust Easyshope.com to be their number 1 online shopping destination. It is no surprise that more than a million sellers trust their products to be made available 24x7 on Easyshope.
            <br>
            <h1><b>Opportunity</b></h1> <br>

           <h3> 45 crore+ of customers across 19000+ pincodes, and access to shopping festivals like The Big Billion Days, and more.
            Ease of Doing Business icon
            Ease of Doing Business
            Create your Easyshope seller account in under 10 minutes with just 1 product and a valid GSTIN number.</h3>
            <br>
            <h1><b>Growth</b></h1>
            <br>
            <h3> see an average 2.8X spike in growth, 2.3X more visibility, and up to 5X growth in The Big Billion Days Sale.</h3>
            <br>
            <h1><b>Additional Support</b></h1>
            <br>
            <h3>Account management services, exclusive training programs, business insights, catalogue/photoshoot support, and more.</h3>
    </div>
    <div class="col-2">
        
    </div>
    <div class="col-4">
        <img src="https://static-assets-web.flixcart.com/fk-sp-static/images/prelogin/images/shopsy_1_1.webp" alt="">
    </div>
</div>




















{% endblock %}