{% extends 'seller/s_masterpage.html' %}
{% load static %}
{% block content %}

<style>
    .col-12{
        background-image: url('');
        height: 300px;
    }
    .row .col-12 h1{
        color: black;
        margin-right: 400px;
    
    }
    #img{
        /* margin-left: 10px; */
        float: left;
    }



</style>



<div class="row">
    <div class="col-6">
        <img src="https://img.freepik.com/free-photo/photocomposition-horizontal-shopping-banner-with-woman-big-smartphone_23-2151201773.jpg?w=740&t=st=1710144074~exp=1710144674~hmac=d2869f105de08c90b54e9c5bbd30d83f8d82acdff736353521215e9c45a11600">
    </div>
    <div class="col-6" style="background-image: url('https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=740&t=st=1710144138~exp=1710144738~hmac=a4e2db8b9bdf1f47121d44fcaf823569fb73e5be5c360d09154e99666f10d81b');">
        <!-- <img src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=740&t=st=1710144138~exp=1710144738~hmac=a4e2db8b9bdf1f47121d44fcaf823569fb73e5be5c360d09154e99666f10d81b"> -->
        <h2 style="margin-top: 30px; margin-left: 20px;"><b>LIMITED TIME OFFER</b></h2><br>
            <h3 style="margin-left: 20px;">Become an Easyshope seller <br>
            Start your selling journey on <br> Easyshope and become a <br>part of our 14 Lakh+ <br> seller community</h3>

    </div>
</div>
<div class="row">
    <!-- <div class="col-12">
        <h1>Become a Easyshope Seller <br> and sell to 45+Crore customers
        </h1>
    </div> -->
</div>
<div class="row">
    <div class="col-6"><h1><b>Why do sellers love selling on Easyshope</b></h1>
        <h3>45 crore+ customers across India trust Easyshope.com to be their number 1 online shopping destination. It is no surprise that more than a million sellers trust their products to be made available 24x7 on Easyshope.
            <br>
            <h1><b>Opportunity</b></h1> <br>

           <h3> 45 crore+ of customers across 19000+ pincodes, and access to shopping festivals like The Big Billion Days, and more.
            Ease of Doing Business icon
            Ease of Doing Business
            Create your Easyshope seller account in under 10 minutes with just 1 product and a valid GSTIN number.</h3>
            <br>
            <h1><b>Growth</b></h1>
            <br>
            <h3> see an average 2.8X spike in growth, 2.3X more visibility, and up to 5X growth in The Big Billion Days Sale.</h3>
            <br>
            <h1><b>Additional Support</b></h1>
            <br>
            <h3>Account management services, exclusive training programs, business insights, catalogue/photoshoot support, and more.</h3>
    </div>
    <div class="col-2">
        
    </div>
    <div class="col-4">
        <img src="{% static 'images/sellerimg.jpg' %}" alt="" style="width: 400px; height: 400px;">
        <h1> Why sellers choose Easyshope ?</h1> <br>
            <ul>
                <li>
                    <p>
                        <h4>Crores of customers</h4>
                        <b>
                            Reach crores of customers on Easyshope.in, India's most visited shopping destination.</b>
                    </p>
                </li>
                <li>
                    <p><h4>5.1K+ </h4>
                        <b>
                        sellers became crorepatis in 2022. You could be next.</b></p>
                </li>
                <li>
                    <p>
                        <h4>Unbeatable reach</h4>
                       <b> 
                        Deliver to 100% of India's serviceable pincodes, through Easy Ship & Fulfillment by Easyshope.</b>
                    </p>

                </li>
                <li>
                    <h4>Secure timely payments</h4>
                  <b>Funds are deposited directly to your bank account every 7 days, including for Pay on Delivery order.</b>
                </li>
                <li>
                    <h4>Ease of starting</h4>
                    <b>From product photography to hassle free delivery & returns management, Amazon has a solution for you.</b>
                </li>
                <li>
                    <h4>Sell to customers worldwide</h4>
                    <b>Sign up for Amazon Global Selling & reach customers in upto 200+ countries.</b>
                </li>
            </ul>
            <br>
      
        
    </div>
</div>
<div class="row" style="margin-top: 50px; margin-bottom: 70px;">
    <h1 style="margin-bottom: 50px;"><b>How to sell on Easyshope</b></h1>
  <div class="col-3"><h3><b>STEP 1: Register your account</b></h3>
    <b>Register on Amazon with GST/PAN details and an active bank account</b>
  </div>
  <div class="col-3">
    <h3><b>STEP 2: Choose storage & shipping</b></h3>
    <b>Choose storage, packaging, and delivery options</b>
  </div>
  <div class="col-3"><h3><b>STEP 3: List your products</b></h3>
    <b>List your products by providing product and brand details</b>
  </div>
  <div class="col-3">
    <h3><b>STEP 4: Complete orders & get paid</b></h3>
    <b>Deliver orders to customers on time and get paid within 7 days of delivery</b>
  </div>
</div>




















{% endblock %}