{% extends 'seller/s_masterpage.html' %}
{% load static %}
{% block content %}

<style>
    #seller_table{
        height: 400px;
        width: 400px;
        margin-left: 500px;
        color: white;
        /* border: 1px solid black; */
        background-image: url('https://i.pinimg.com/564x/e7/25/92/e72592a35cccdb247afd8e495e90458c.jpg');
        border-radius: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        box-shadow: 20px 20px 10px black;

    }
    input{
        width: 350px;
        margin-left: 30px;
    }
    label{
        margin-left: 30px;
    }
    #logintable{
        
        background-color: rgb(241, 148, 7);
        

    }
    #btn{
        text-decoration: none;
        width: 70px;
        color: white;
        background-color: rgba(223, 74, 15, 0.849);
        border-radius: 5px;
        margin-left: 165px;
    }
    #loginbtn{
        height: 50px;
    }
    #btn:hover{
        background-color: rgba(233, 114, 16, 0.164);

    }
    #para,#para2{
        margin-left: 30px;
    }
    #signup{
        text-decoration: none;
        border-radius: 5px;
        width: 80px;
        margin-left: 160px;
        margin-bottom: 50px;
        background-color: rgba(216, 170, 21, 0.973);
        color: white;
    }
    #signup:hover{
        background-color: rgba(19, 19, 167, 0.048);
        
    }
    #parasign{
        margin-left: 140px;
        margin-top: 30px;
    }
    #msg{
        padding-left: 40px;
        color: red;
    }



</style>

<div class="row" id="logintable">
    <form action="" method="post" onsubmit="return login()">
        {% csrf_token %}
        <table id="seller_table">
            <tr>
                <th><h1>Login</h1></th>
            </tr>
            <tr>
                <td><label for="username" id="username" >Username</label></td>
            </tr>
            <tr>
                <td><input type="text" name="username" placeholder="Type your username" id="user"><br><p id="para" style="color: red;"></p></td>
                
            </tr>
            <tr>
                <td><label for="password" id="password">Password</label></td>
            </tr>
            <tr>
                <td><input type="password" name="password" placeholder="Type your password" id="password1"><br><p id="para2" style="color: red;"></p><p id="msg">{{msg}}</p></td>
                
            </tr>
            <tr>
                <td id="loginbtn"><button type="submit" id="btn">Login</button></td> 
            </tr>
            <tr>
                <td><p id="parasign"> Or Sign Up using</p><button id="signup"> <a href="{% url 'seller:s_register' %}">Sign Up</a> </button></td>

            <tr>
                
            </tr>
        </table>
    </form>



    <script>
        function login(){
           
            user=document.getElementById('user').value
            psd=document.getElementById('password1').value
            if(user==''){
                document.getElementById('para').innerHTML='Please enter username'
                return false
            }else if(psd==''){
                
                document.getElementById('para2').innerHTML='Please enter password'
                return false
            }return true
        }

    </script>

</div>

{% endblock %}