#i.col-6{
    background-color: white;
}

.row h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* #ind_col-6{ */
    /* margin-bottom: 40px; */
/* } */
.row #inputbox_index{
    width: 400px;
    margin-left: 300px;
}
