/* #table1 th{
    width: 150px;
    
}
#table1{
    margin-left:200px;
    margin-top: 10px;
    border-radius: 20px;
}
th a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}
button{
    background-color: #fff;
    border: none;
    

}
button select{
    color: black;
    font-size: large;
    font-weight: 500;
    border: none;

}
#row1{
    background-color: rgb(11, 206, 27);
    height: 50px;
    
} */