#table{
    width: 600px;
    height: 400px;
    border: 1px;
    color: black;
}
input{
    width: 300px;
}
table  h1{
    padding-left: 70px;
    font-style: italic;
    font-weight: 500;
}
table button{
    width: 300px;
    background-color:rgb(120, 40, 177);
    color: white;

}
.container{
    height: 700px;
    background-color:rgb(221, 211, 211);
}
table a{
    text-decoration: none;
}
p{
    color: red;
}