{% extends 'masterpage.html' %}
{% load static %}
{% block content %}

<div class="row">
    <span style=" text-align: center; padding-top: 20px;" ><h1>About Our Company</h1></span>
    <div class="col-12"><br>
    <p><span><b>EASYSHOPE</b></span> <br>was founded by Mukesh Bansal, Ashutosh Lawania, and Vineet Saxena back in 2007. Myntra, the biggest online fashion retailer in the nation, is committed to providing you with a simple and pleasurable shopping experience. They make it simple for everyone to obtain the newest and most fashionable fashion goods by providing a large selection of brands and products. Myntra aims to empower consumers nationwide with the power of fashion, transforming it into an elegant and convenient one-stop store for all your needs.

            Let's dive into the article to know all about Myntra, its Startup Story, Business and Revenue Model, Funding and Investors, Founders and Team, Challenges, Competitors, Future Plans, and more.
            Myntra - Company Highlights
            COMPANY NAME MYNTRA
            Headquarters Bangalore, Karnataka, India
            Sector E-commerce
            Founder Mukesh Bansal, Ashutosh Lawania, Vineet Saxena, Sankar Bora, and Raveen Sastry
            Founded 2007
            Website myntra.com
            
            
            
            Myntra - The Brand Which Revolutionized Online Fashion Industry <br><br>

            <span><b>COMPANY PROFILES</b></span><br>
            Vidhi Punamiya
            Manisha Mishra
            Vidhi Punamiya, Manisha Mishra
            Dec 30, 2023 — 14 min read
            Myntra - The Brand Which Revolutionized Online Fashion Industry
            Myntra - The Brand Which Revolutionized Online Fashion Industry
            Company Profile is an initiative by StartupTalky to publish verified information on different startups and organizations.
            
            Today, we can sit in one space, browse through the top international fashion brands, and get our favorite products delivered right to our doorsteps. Thanks to the evolution of eCommerce and online shopping trends, One of the most prominent names in the eCommerce industry of India, as we all know, is Myntra.
            
            
            Myntra was founded by Mukesh Bansal, Ashutosh Lawania, and Vineet Saxena back in 2007. Myntra, the biggest online fashion retailer in the nation, is committed to providing you with a simple and pleasurable shopping experience. They make it simple for everyone to obtain the newest and most fashionable fashion goods by providing a large selection of brands and products. Myntra aims to empower consumers nationwide with the power of fashion, transforming it into an elegant and convenient one-stop store for all your needs.
            
            Let's dive into the article to know all about Myntra, its Startup Story, Business and Revenue Model, Funding and Investors, Founders and Team, Challenges, Competitors, Future Plans, and more.
            
            Myntra - Company Highlights
            COMPANY NAME MYNTRA
            Headquarters Bangalore, Karnataka, India
            Sector E-commerce
            Founder Mukesh Bansal, Ashutosh Lawania, Vineet Saxena, Sankar Bora, and Raveen Sastry
            Founded 2007
            Website myntra.com
            Myntra - About
            Myntra - Industry
            Myntra - Founders and Team
            Myntra - Startup Story
            Myntra - Mission and Vision
            Myntra - Name, Tagline and Logo
            Myntra - Business Model
            Myntra - Revenue Model
            Myntra - Challenges Faced
            Myntra - Funding and Investors
            Myntra - Investments
            Myntra - Mergers and Acquisitions
            Myntra - Growth and Revenue
            Myntra - Partnerships
            Myntra - Innovations and Initiatives
            Myntra - Advertisements and Social Media Campaigns
            Myntra - Awards and Recognitions
            Myntra - Competitors
            Myntra - Future Plans
            <br><br>
            
            
            <span><b>EASYSHOPE ABOUT</b></span><br>
            easyshope is one of the largest fashion e-commerce stores in India that deals with a wide range of fashion and lifestyle products for men, women, and kids. It sells high-quality clothes, branded footwear, bags and backpacks, beauty and personal care products, home and living accessories, and more.
            
            The parent organization of Myntra is Flipkart, which is one of the largest e-commerce companies in India. Flipkart has been the parent company of Myntra since 2014, when the e-commerce giant acquired Myntra for an estimated amount close to Rs 2,000 crore. The deal included both cash and stock.
            
            Myntra has a wide range of fashion products from brands all across the world and appeals to young and old Indians, with a special focus on Gen Y, or the millennials, and Gen Z. All of these Myntra can be aptly summed up as a one-stop-shop for fashion in India.
            
            Myntra - Industry
            As per a report by Mordor Intelligence, the Indian e-commerce market is anticipated to witness substantial expansion, with a valuation of USD 92.95 billion by 2023. The market is expected to grow rapidly, with a projected value of USD 246.10 billion by 2028, according to the analysis.
            
            This represents a remarkable Compound Annual Growth Rate (CAGR) of 21.50% from 2023 to 2028. This significant development trajectory highlights how e-commerce is becoming more and more prevalent in the Indian industry, fueled by changes in customer tastes, digitization, and technology breakthroughs. <br><br>
            
            <span><b>EASYSHOPE - STARTUP STORY</b></span><br>
            Mukesh Bansal's journey with Myntra began after his time in Silicon Valley. He quit his US employment in 2007 to launch his own company in India. He toured shopping centers frequently to get ideas for creating personalized experiences while investigating both offline and internet sectors.
            
            A visit to an abandoned commercial area in Pune proved to be the turning point. Bansal thought of a better way after observing unsold inventory in physical stores: offering these goods online. This realization resulted in Myntra becoming a platform that revolutionized online shopping by offering shoes, accessories, and apparel in addition to these products.
            
            Mukesh Bansal helped other people with a background in software engineering realize their business goals as a co-founder. Between 2007 and 2010, Myntra concentrated on B2B sales of customizable gift goods that could be ordered on demand. The business gradually changed its emphasis from B2B to individual customer service.
            
            In 2012, Myntra accomplished a noteworthy accomplishment by broadening its product portfolio to encompass 360 Indian and global brands. This was a turning point in Myntra's development into India's largest B2C fashion eCommerce marketplace, capping an incredible journey of success and transformation from a B2B firm.
            
            EASYSHOPE - Mission and Vision
            EASYSHOPE s mission and vision are to provide "a hassle-free and enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal."
            </p><br><br><br>
    </div>
</div>



















{% endblock %}