{% extends 'masterpage.html' %}
{% load static %}
{% block content %}

<div class="row" id="row5">
    <div class="col-12"><h1>GET IN TOUCH</h1></div><br>
</div>
<div class="row" id="row4">
    <div class="col-6" id="c.col-6">
        
        <table id="contact_table">
           <form action="">
            <tr>
                <td><input type="text" placeholder="Name *"></td>
            </tr>
            <tr>
                <td><input type="email" placeholder="Email Address *"></td>
            </tr>
            <tr>
                <td><input type="number" placeholder="Contact *"></td>
            </tr>
            <tr>
                <td><textarea name=""  placeholder="Messege *" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><button id="submit" type="submit">Submit</button></td>
            </tr>
           </form>
        </table>
    </div>
    <div class="col-6">
        <img src="{% static 'images/contact.jpg' %}" alt="" id="contactimg">
    </div>
</div>


{% endblock %}