{% extends 'masterpage1.html' %}
{% load static %}
{% block content %}


<style>
    #seller_table{
        height: 400px;
        width: 380px;
        margin-left: 150px;
        color: white;
        /* border: 1px solid white; */
        background-image: url('https://i.pinimg.com/564x/fe/6c/27/fe6c27628a38ccc348e2a4795e3c932b.jpg');
        background-size: cover;
        border-radius: 10px;
        margin-top: 100px;
        margin-bottom: 100px;
        border-radius: 20px;
        /* box-shadow: 20px 20px 10px black; */

    }
    input{
        width: 325px;
        height: 40px;
        margin-left: 30px;
        border-radius: 30px;
        padding-left: 10px;
    }
    label{
        margin-left: 30px;
    }
    #logintable{
        /* background-color:rgb(252, 150, 167); */
        background-image: url('https://vistapointe.net/images/elegance--1.jpg');
        background-size: cover;
        
    }
    #btn{
        text-decoration: none;
        width: 70px;
        color: white;
        background-color: rgba(49, 47, 46, 0.849);
        border-radius: 5px;
        margin-left: 165px;
    }
    #loginbtn{
        height: 50px;
    }
    #btn:hover{
        background-color: rgba(14, 7, 3, 0.075);

    }
    #para,#para2{
        margin-left: 30px;
    }
    #signup{
        text-decoration: none;
        border-radius: 5px;
        width: 80px;
        margin-left: 160px;
        margin-bottom: 50px;
        background-color: rgba(66, 64, 57, 0.973);
        color: white;
    }
    #signup:hover{
        background-color: rgba(19, 19, 167, 0.048);
        
    }
    #parasign{
        margin-left: 140px;
        margin-top: 30px;
    }
    



</style>

<div class="container-fluid">
    <div class="row" id="logintable">
        <form action="" method="post" onsubmit="return login()">
            {% csrf_token %}
            <table id="seller_table">
                <tr>
                    <th><h1 style="text-align: center;">Login</h1></th>
                </tr>
                <tr>
                    <td><label for="email" id="email" >Email</label></td>
                </tr>
                <tr>
                    <td><input type="email" name="email" placeholder="Type your email" id="user"><br><p id="para" style="color: red;"></p></td>
                    
                </tr>
                <tr>
                    <td><label for="password" id="password">Password</label></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder="Type your password" id="password1"><br><p id="para2" style="color: red;"><p style="padding-left: 40px; color: red;">{{msg}}</p></p><br></td>
                    
                    
                </tr>
                <tr>
                    <td id="loginbtn"><button type="submit" id="btn">Login</button></td> 
                </tr>
                <tr>
                    <td><p id="parasign"> Or Sign Up using</p><button id="signup"> <a href="{% url 'customer:register' %}">Sign Up</a> </button></td>
    
                <tr>
                    
                </tr>
            </table>
        </form>
    
    

    
    </div>
    
</div>

<script>
    function login(){
       
        user=document.getElementById('user').value
        psd=document.getElementById('password1').value
        if(user==''){
            document.getElementById('para').innerHTML='Please enter email'
            return false
        }else if(psd==''){
            
            document.getElementById('para2').innerHTML='Please enter password'
            return false
        }else{
            return true
        }
        
    }

</script>




















{% endblock %}