{% extends 'masterpage1.html' %}
{% load static %}
{% block content %}

<style>
    #register_row{
        /* border: 1px solid black; */
       
        background-image: url('https://wallpaperset.com/w/full/0/1/8/156429.jpg');
        background-size: cover;
    }
    #register_table{
        /* border: 1px solid black; */
        margin-left: 650px;
        background-image: url('https://vistapointe.net/images/elegance--1.jpg');
        color:white;
        width: 400px;
        border-radius: 10px;
        margin-bottom: 50px;
        margin-top: 40px;
        box-shadow: 20px 20px 10px  black;
        
    }
    input{
        width: 300px;
        margin-left: 50px;
    }
    label{
        margin-left: 50px;
    }
    #registerbtn{
        margin-left: 150px;
        border-radius: 10px;
        background-color: black;
        color: white;
        text-decoration: none;
        margin-bottom: 10px;
    }
    #registerbtn:hover{
        color: black;
        background-color: white;
    }
    #loginbtn{
        padding-left: 75px;
    }
    #loginbtn a{
        color:white;
    }
    #loginbtn a:hover{
        color: red;
    }
    #para1, #para2, #para3, #para4{
        margin-left: 50px;
        color: red;
    }

</style>

<div class="container-fluid">
    <div class="row" id="register_row">
        <form action="" method="post" onsubmit="return register()">
            {% csrf_token %}
            <table id="register_table">
                <tr>
                    <td><h1 style="text-align: center;">Register</h1></td>
                </tr>
                <tr>
                    <td><label for="">Username</label></td><br>
                </tr>
                <tr>
                    <td><input type="text" name="username" placeholder="Enter username" id="user"><br><p id="para1"></p></td>
                </tr>
                <tr>
                    <td><label for="email">Email</label></td>
                </tr>
                <tr>
                    <td><input type="email" name="email" placeholder="Enter email" id="email"><br><p id="para2"></p></td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" placeholder="Enter Password" id="psd"><br><p id="para3"></p></td>
                </tr>
                <tr>
                    <td><label for=""></label>Repeat Password</td>
                </tr>
                <tr>
                    <td><input type="password"  placeholder="Repeat Password" id="repeat"><br><p id="para4"></p><p id="para4"></p></td>
                </tr>
                <tr>
                    <td><button id="registerbtn" type="submit">Register</button></td>
                </tr>
                <tr>
                    <td id="loginbtn">Already have an account? <a href="{% url 'customer:login' %}">Login</a></td>
                </tr>
    
            </table>
    </form>
</div>

</div>
<script>
    function  register(){
        user=document.getElementById('user').value
        email=document.getElementById('email').value
        pass=document.getElementById('psd').value
        pass2=document.getElementById('repeat').value

        if(user==''){
            document.getElementById('para1').innerHTML='Please enter username'
            return false
        }else if(email==''){
            document.getElementById('para2').innerHTML='please enter email'
            return false
        }else if(pass==''){
            document.getElementById('para3').innerHTML='please enter password'
            return false
        }else if(pass.length<6){
            document.getElementById('para3').innerHTML='please enter above 6 characters'
            return false
        }else if(pass2==''){
            document.getElementById('para4').innerHTML='please repeat password'
            return false
        }else if(pass!=pass2){
            document.getElementById('para4').innerHTML='both password must be same'
            return false
        }else{
            
        }return true
    }
    

</script>

























{% endblock %}