{% extends 'masterpage.html' %}
{% load static %}
{% block content %}

<div class="row" style="text-align: center;">
    <h1 style="color: #B40431;">𝙻𝚎𝚝'𝚜 𝙴𝚡𝚙𝚕𝚘𝚛𝚎 Women's 𝚆𝚎𝚊𝚛</h1>
</div>

<div class="row" style="margin-bottom: 100px; margin-left: 20px;">
  {% for i in products %}
    <div class="col-3">
        <div class="card" style="width: 18rem; margin-top: 50px">
        <img src="{{i.image.url}}" class="card-img-top" alt="..."  style="height: 480px;">
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">67% off <h4>Rs {{i.price}}</h4> </p>
          <form action="{% url 'customer:add_to_cart' i.id %}" method="post">
            {% csrf_token %}
          <a href="{% url 'customer:payment' %}" class="btn btn-primary">Buy now</a>
          <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Add to cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}

</div>























{% endblock %}